.project-container{
    margin-top: 200px;
    font-family: sans-serif;
}

.project-header{
    text-align: center;
}

.port-head{
    color: blueviolet;
    font-size: 14px;
}

.port-intro{
    font-size: 50px;
    margin-top: 20px;
    font-weight: bold;
}

.display-containers {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

}

.display-containers * {
    background-color: #1a1a1a;
}

.display-squares {
    width: 460px;
    height: 370px;
    padding: 10px; 
    background-color: #1a1a1a;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.port-link {
    text-decoration: none;
    cursor: pointer;
}

.display-squares img {
    margin-top: 10px;
    border-radius: 5px;
    width: 85%;
    transition: all 0.7s ease;
}

.display-squares img:hover{
    transform: scale(1.1);
}
.display-containers .display-squares:nth-child(2) img {
    height: 55%;
}
.display-containers .display-squares:nth-child(3) img {
    height: 57%;
}

.display-containers .display-squares:nth-child(4) img {
    height: 55%;
}

.display-containers .display-squares:nth-child(5) img {
    width: 70%;
    height: 55%;
}

.display-containers .display-squares:nth-child(6) img {
    width: 70%;
    height: 55%;
}

#port-head-txt{
    font-size: 14px;
    text-align: left;
    color: blueviolet;
}

.port-description{
    font-size: 18px;
    text-align: left;
}
