* {
    background-color: #111;
    color: white;
    font-family: sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box; /* Change made here */
}

html,  body{
    overflow-x: hidden;
}
